# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# To ensure private keys are not committed to the repository
.envrc

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
